@import '../../styles/tools/tools.typography.scss';
@import '../../styles/tools/tools.margins.scss';
@import '../../styles/tools/tools.transition.scss';

:host([theme="secondary"]) {
  --cInputBgColor: var(--color-secondary);
}

:host([theme="light"]) {
  --cInputBgColor: var(--color-white);
}

:host([disabled]) {
  --cInputBgColor: var(--color-gray);
}

.e-input {
  $root: &;

  &--disabled {
    opacity: 0.5;
  }

  &__wrapper {
    display: block;
    position: relative;
  }

  &__field,
  &__field:-webkit-autofill,
  &__field:-webkit-autofill:hover,
  &__field:-webkit-autofill:focus {
    @include text--large(400);
    color: var(--color-black);
    -webkit-text-fill-color: var(--color-black);
    background-color: var(--cInputBgColor, var(--color-primary)) !important;
    border: 0;
    border-radius: var(--border-radius);
    outline: 0;
    padding: space(3) space(2) space(1);
    box-sizing: border-box;
    appearance: textfield;
    width: 100%;
    transition: background-color 0s 600000s, color 0s 600000s !important;

    #{$root}--readonly & {
      cursor: default;
    }

    #{$root}--disabled & {
      cursor: default;
      color: var(--cInputColor, var(--color-gray--medium));
    }
  }

  &__label {
    @include text--large;
    color: var(--color-black);
    position: absolute;
    left: space(2);
    top: space(3);
    transform: translateY(0);
    margin: 0;
    cursor: pointer;
    transition: top 0.3s, transform 0.3s, font-size 0.3s, font-weight 0.3s;

    #{$root}--readonly & {
      cursor: default;
    }

    #{$root}--disabled & {
      cursor: default;
      color: var(--cInputColor, var(--color-gray--medium));
    }
  }

  &--filled &__label,
  &__field:focus + &__label {
    @include text;
    top: 0;
  }
}
