@font-face {
  font-display: block;
  font-family: 'Courier';
  font-style: normal;
  font-weight: 400;
  src: url('static/fonts/courier-regular.woff') format('woff');
}

@font-face {
  font-display: block;
  font-family: 'Courier';
  font-style: normal;
  font-weight: 700;
  src: url('static/fonts/courier-bold.woff') format('woff');
}
