@import '../../styles/tools/tools.grid.scss';
@import '../../styles/tools/tools.margins.scss';
@import '../../styles/tools/tools.typography.scss';

.v-test {
  box-sizing: border-box;
  padding: space(2) space(1) space(2) 0;
  
  @media(min-width: breakpoint('md')) {
    margin: 0 auto;
    padding: space(2) space(4);
    width: 100%;
    max-width: var(--width-wrapper);
  }

  &__title {
    @include heading--h3;
  }

  &__question {
    counter-reset: alpha-index;
    margin: 0 0 space(3);
    box-sizing: border-box;
  }

  &__statement {
    @include text--large;
    display: flex;
    align-items: center;
    margin: 0 0 space(1);
    color: var(--color-gray--medium);
  }

  &__answer {
    @include text(300);
    color: var(--color-gray--medium);
  }

  &__clear {
    display: inline-flex;
    background: none;
    border: 0;
    padding: 0;
    margin-left: space(0.5);
    cursor: pointer;
    vertical-align: middle;

    * {
      pointer-events: none;
    }
  }

  &__options {
    padding-left: space(1);
    list-style-type: none;
    counter-reset: li-index;
    
    @media(min-width: breakpoint('md')) {
      padding: 0;
    }
  }
  
  &__option {
    counter-increment: alpha-index;
    margin-bottom: space(0.5);

    &::before {
      content: counter(alpha-index, upper-alpha) ".";
      font-weight: 700;
    }
  }

  &__radio {
    vertical-align: middle;
    margin: 0 space(1);

    &.is-correct + label {
      color: var(--color-success);
      font-weight: 700;
    }
    
    &.is-wrong + label {
      color: var(--color-error);
      font-weight: 700;
    }
  }

  &__bottom {
    display: flex;

  }

  &__result {
    @include text;
    color: var(--color-black);
    margin-left: space(2);
  }
}
