@use '../../styles/tools/tools.margins.scss' as *;
@use '../../styles/tools/tools.typography.scss' as *;

.m-layout {
  --eIconColor: var(--color-red);
  height: 100%;

  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    max-width: var(--grid-wrapper);
    margin: 0 auto;
    position: relative;
  }

  &__aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: space(10);
    bottom: space(8);
    width: 100%;
    max-width: 300px;
    background-color: var(--color-white);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: space(4);
    box-sizing: border-box;
  }

  &__text {
    @include text(400);
    margin: 0;
  }

  &__head {
    display: flex;
    align-items: center;
    margin: 0 0 space(2);
    padding-bottom: space(2);
    gap: 0 space(1);
    border-bottom: 1px solid var(--color-gray--medium);
  }

  &__tree {
    height: 100%;
  }

  &__bottom {
    padding-top: space(2);
    border-top: 1px solid var(--color-gray--medium);
  }

  &__logout {
    font-family: inherit;
    @include text;
    display: flex;
    align-items: center;
    gap: 0 space(1);
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
  }

  &__content {
    width: 100%;
    padding-left: 300px;
    box-sizing: border-box;
  }
}
